#seafood-menu {
    padding: 50px 0;
    width: 100%;
}


.seafood-menu-header {
    text-align: center;
}

.seafood-menu-header h2 {
    font-family: 'Pacifico', cursive;
    color: #004e99;
    font-size: 30px;
}

.seafood-menu-header h1 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 50px;
    color: #333;
    padding-bottom: 30px;
    position: relative;
}

.seafood-menu-header h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 70px;
    height: 2px;
    background-color: #004e99;
}

.seafood-menu-header h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    height: 2px;
    background-color: #004e99;
}


.seafood-menu-card-img {
    height: 250px;
    position: relative;
}

.seafood-menu-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seafood-menu-card-img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #fff;
    background-color: rgba(0, 78, 153, 0.7);
}

.seafood-menu-card-content {
    text-align: center;
}

.seafood-menu-card-content h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 20px 0;
    font-size: 17px;
}

.seafood-menu-card-content p {
    color: #999;
}

.seafood-menu-card-content button {
    margin: 20px 0;
    padding: 8px 20px;
    border: 1px solid #d0d0d0;
    color: #004e99;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s;
}

.seafood-menu-card-content button:hover {
    background-color: #004e99;
    color: #fff;
}

@media(max-width: 768px) {

    .seafood-menu-header h2 {
        font-size: 20px;
    }

    .seafood-menu-header h1 {
        font-size: 30px;
    }

    .seafood-menu-card-img i {
        font-size: 25px;
        padding: 20px;
    }
}