#coffee-table {
    padding: 50px 0;
}

.coffee-table-img {
    width: auto;
    height: 500px;
}

.coffee-table-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coffee-table-content {
    text-align: center;
}

.coffee-table-content h2 {
    font-family: 'Pacifico', cursive;
    color: #ffb606;
    font-size: 35px;
}

.coffee-table-content h1 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 50px;
    color: #333;
    padding: 20px;
    position: relative;
}

.coffee-table-content h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 80px;
    height: 2px;
    background-color: #ffb606;
}

.coffee-table-content h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 2px;
    background-color: #ffb606;
}

.coffee-table-content p {
    color: #666;
}

.coffee-table-inner-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coffee-table-form {
    outline: none;
    border: 1px solid #d8d8d8;
    margin: 14px 0;
    padding: 10px 5px;
    font-size: 13px;
    width: 48%;
}

@media(max-width: 768px) {
    .coffee-table-form {
        width: 100%;
    }
}

.coffee-table-content form input::placeholder {
    font-size: 13px;
    font-weight: 500;
}

.coffee-table-content form button {
    width: 100%;
    margin: 10px 0;
    padding: 9px 0;
    border: 1px solid #ffb606;
    border-radius: 3px;
    background-color: #ffb606;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
}

.coffee-table-content form button:hover {
    border-color: #333;
    background-color: #333;
    color: #fff;
}